// ? Style the header: fixed position (always stay at the top)
%scrollProgressBar__container {
  position: fixed;
  z-index: 1;
  background-color: $color-shadow;
}

// ? The progress bar (scroll indicator)
%scrollProgressBar__progress {
  background: $color-accent;
}

.scrollProgressBar__container--horizontal {
  @extend %scrollProgressBar__container;
  width: 100%;
  height: 8px;
  top: 227px;
}

.scrollProgressBar__progress--horizontal {
  @extend %scrollProgressBar__progress;
  width: 0%;
  height: 8px;
}

.scrollProgressBar__container--vertical {
  @extend %scrollProgressBar__container;
  display: none;
  background-color: $color-secondary;
  height: 250px;
  width: 8px;
  z-index: 10;
  top: 70px;
  width: 8px;
}

.scrollProgressBar__progress--vertical {
  @extend %scrollProgressBar__progress;
  border-radius: $br--rounded;
  height: 0%;
  width: 8px;
}

@include mq(medium) {
  .scrollProgressBar__container--horizontal {
    top: 139px;
  }
}
@include mq(large) {
  .scrollProgressBar__container--horizontal {
    display: none;
  }
  .scrollProgressBar__container--vertical {
    display: block;
  }
}
