.user-pain
  border-radius: $br--rounded
  border: 2px solid $grey--light
  background-color: $white
  display: inline-block
  &__title
    color: $grey--dark
    margin: 20px 0
    font-size: 20px
  &__text
    display: inline-block
    color: $grey
  &__email
    color: $grey
    font-weight: $font-weight--medium
    margin-bottom: 20px
    margin: 0
  &__place
    font-weight: $font-weight--medium
    color: $grey
    margin: 0
    margin-top: 10px
  &__photo
    display: inline-block
    margin-right: 15px
    align-self: center
    @include mq(large)
      align-self: left
  &__details
    display: inline-block
    align-self: center
    text-align: center
    @include mq(large)
      align-self: left
      text-align: left
  &__avatar
    border-radius: $br--round
    display: inline-block
    width: 125px
    height: 125px
  &__window
    @extend %hover-hand
    display: flex
    flex-direction: column
    align-self: center
    border-radius: $br--rounded
    border: 2px solid $grey--light
    background-color: $white
    width: 90%
    height: 300px
    padding: 25px
    margin: 15px auto
    transition: transform 250ms
    &:hover
      border-color: $grey
      transform: scale(1.05)
    @include mq(large)
      flex-direction: row
      width: 404px
      height: 180px
