// ==========================================================================
// Base
// ==========================================================================



// In your base folder, include a normalize.css file and create a base.scss file. In the base.scss file, you can only apply styles to three different elements directly:
// the universal selector (*)
// ul elements
// p elements


*
  box-sizing: border-box
  // overflow-x: hidden; // disable vertical Scroll Bars
  // user-select: none; // Disables accidental highlighting by the user


body
  background-color: $color-shadow

a
  @extend %hover-hand


main
  margin-top: 50px




.container
  margin: 0
  padding-top: em(40px)
  margin: auto
  display: flex
  // flex-direction: column
  flex-wrap: wrap
  justify-content: space-between
  @include mq(large)
    padding: 0 10%;
