doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Awesome Startup - Employee Directory
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/styles.css')
    include _favicon
    script(src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  body
    headder
    main

      div.top__search
        h1.main__title.uppercase Awesome Startup Employee Directory
        form.search__form
          input#search__question.search__box(type="text" placeholder="Search")
          button#search__button.search__button
      
      div#users.container
      div#user-modals
        span#previous-user
          include svgs/icon-arrow-left.svg
        span#next-user
          include svgs/icon-arrow-right.svg



    footer
    script
      //- include js/script.js
    script(src="js/script.js")