doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Placeholder Title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/styles.css')
    include _favicon
  body
    headder
    main

      div.top__search
        h1.main__title Anthony is awsome
        form.search__form
          input#search__google--question.search__box(type="text" placeholder="Search")
          button#search__google--button.search__button
      
      div.container

        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece

        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece

        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece

        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


    footer
    script
      include js/script.js