doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Placeholder Title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/styles.css')
    include _favicon
    script(src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  body
    headder
    main

      div.top__search
        h1.main__title Anthony is awsome
        form.search__form
          input#search__google--question.search__box(type="text" placeholder="Search")
          button#search__google--button.search__button
      
      div.container

        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry 0
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece

        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry 1
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece

        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry 2
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece

        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry 3
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry 4
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry 5
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry 6
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry 7
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry 8
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry 9
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry 10
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece


        div.user-pain__window
          div.user-pain__photo
            img.user-pain__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          div.user-pain__details
            h2.user-pain__title Anthony Veaudry 11
            p.user-pain__email anthonyveaudry@gmail.com
            p.user-pain__place Greece

      div#user-modals

        span#previous-user
          include svgs/icon-arrow-left.svg
        span#next-user
          include svgs/icon-arrow-right.svg

        div.user-modal
          span.close x
          img.user-modal__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          h2.user-modal__name Anthony Veaudry THE BEST 0
          p.user-modal__email anthonyveaudry@gmail.com
          p.user-modal__place Greece
          hr
          p.user-modal__phone (0030) 6948688704
          p.user-modal__address Limenas thassos Marmaromandra
          p.user-moidal__bday Birthday: 17/04/1998

        
        div.user-modal
          span.close x
          img.user-modal__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          h2.user-modal__name Anthony Veaudry THE BEST 1
          p.user-modal__email anthonyveaudry@gmail.com
          p.user-modal__place Greece
          hr
          p.user-modal__phone (0030) 6948688704
          p.user-modal__address Limenas thassos Marmaromandra
          p.user-moidal__bday Birthday: 17/04/1998

        
        div.user-modal
          span.close x
          img.user-modal__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          h2.user-modal__name Anthony Veaudry THE BEST 2
          p.user-modal__email anthonyveaudry@gmail.com
          p.user-modal__place Greece
          hr
          p.user-modal__phone (0030) 6948688704
          p.user-modal__address Limenas thassos Marmaromandra
          p.user-moidal__bday Birthday: 17/04/1998

        
        div.user-modal
          span.close x
          img.user-modal__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          h2.user-modal__name Anthony Veaudry THE BEST 3
          p.user-modal__email anthonyveaudry@gmail.com
          p.user-modal__place Greece
          hr
          p.user-modal__phone (0030) 6948688704
          p.user-modal__address Limenas thassos Marmaromandra
          p.user-moidal__bday Birthday: 17/04/1998

        
        div.user-modal
          span.close x
          img.user-modal__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          h2.user-modal__name Anthony Veaudry THE BEST 4
          p.user-modal__email anthonyveaudry@gmail.com
          p.user-modal__place Greece
          hr
          p.user-modal__phone (0030) 6948688704
          p.user-modal__address Limenas thassos Marmaromandra
          p.user-moidal__bday Birthday: 17/04/1998


        
        div.user-modal
          span.close x
          img.user-modal__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          h2.user-modal__name Anthony Veaudry THE BEST 5
          p.user-modal__email anthonyveaudry@gmail.com
          p.user-modal__place Greece
          hr
          p.user-modal__phone (0030) 6948688704
          p.user-modal__address Limenas thassos Marmaromandra
          p.user-moidal__bday Birthday: 17/04/1998

        
        div.user-modal
          span.close x
          img.user-modal__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          h2.user-modal__name Anthony Veaudry THE BEST 6
          p.user-modal__email anthonyveaudry@gmail.com
          p.user-modal__place Greece
          hr
          p.user-modal__phone (0030) 6948688704
          p.user-modal__address Limenas thassos Marmaromandra
          p.user-moidal__bday Birthday: 17/04/1998

        
        div.user-modal
          span.close x
          img.user-modal__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          h2.user-modal__name Anthony Veaudry THE BEST 7
          p.user-modal__email anthonyveaudry@gmail.com
          p.user-modal__place Greece
          hr
          p.user-modal__phone (0030) 6948688704
          p.user-modal__address Limenas thassos Marmaromandra
          p.user-moidal__bday Birthday: 17/04/1998

        
        div.user-modal
          span.close x
          img.user-modal__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          h2.user-modal__name Anthony Veaudry THE BEST 8
          p.user-modal__email anthonyveaudry@gmail.com
          p.user-modal__place Greece
          hr
          p.user-modal__phone (0030) 6948688704
          p.user-modal__address Limenas thassos Marmaromandra
          p.user-moidal__bday Birthday: 17/04/1998

        
        div.user-modal
          span.close x
          img.user-modal__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          h2.user-modal__name Anthony Veaudry THE BEST 9
          p.user-modal__email anthonyveaudry@gmail.com
          p.user-modal__place Greece
          hr
          p.user-modal__phone (0030) 6948688704
          p.user-modal__address Limenas thassos Marmaromandra
          p.user-moidal__bday Birthday: 17/04/1998


        div.user-modal
          span.close x
          img.user-modal__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          h2.user-modal__name Anthony Veaudry THE BEST 10
          p.user-modal__email anthonyveaudry@gmail.com
          p.user-modal__place Greece
          hr
          p.user-modal__phone (0030) 6948688704
          p.user-modal__address Limenas thassos Marmaromandra
          p.user-moidal__bday Birthday: 17/04/1998

        
        div.user-modal
          span.close x
          img.user-modal__avatar(src="https://s.gravatar.com/avatar/5b116beaa14acdb21cf5f33ecdd32be2?s=80&r=g")
          h2.user-modal__name Anthony Veaudry THE BEST 11
          p.user-modal__email anthonyveaudry@gmail.com
          p.user-modal__place Greece
          hr
          p.user-modal__phone (0030) 6948688704
          p.user-modal__address Limenas thassos Marmaromandra
          p.user-moidal__bday Birthday: 17/04/1998


    footer
    script
      //- include js/script.js
    script(src="js/script.js")